.ques-container {
  width: 100%;
}

.mcq-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.ans-alpha {
  margin-right: 5px;
}

.ans {
  width: 45%;
  height: 64px;
  border-radius: 8px;
  margin: 5px;
  padding: 10px 20px;
  font-weight: 400;
  background-color: #cbd5e1;
  color: #334155;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.wrong {
  color: #f8fafc;
  background-color: #bf2626;
}

.right {
  color: #f8fafc;
  background-color: #1c944b;
}

.question {
  color: #334155;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .mcq-box {
    width: 50%;
  }
}

.img-ans-li {
  width: 45%;
  list-style: none;
  margin-bottom: 20px;
  cursor: pointer;
}

.img-ans {
  width: 100%;
}
