.main-bg {
  height: 100vh;
  background: linear-gradient(
    91.08deg,
    #dbbcc4 9.68%,
    #f3dfd8 32.98%,
    #d8bfd0 75.7%,
    #b7b1d5 99.11%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg {
  height: 80%;
  width: 80%;
  max-width: 1146px;
  max-height: 798px;
  background: #f8fafc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 5rem;
}
@media (max-width: 576px) {
  .bg {
    width: 90%;
    height: 90%;
  }
}

.logo {
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 411px;
}
@media (max-width: 576px) {
  .form {
    width: 90%;
  }
}

.input-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input {
  height: 40px;
  width: 100%;
  border-radius: 12px;
  outline: none;

  cursor: pointer;
  font-size: large;
  padding-left: 10px;
  border: 1px solid #d7dfe9;
}

.label {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #7e858e;
  font-family: 'Roboto';
  margin-bottom: 5px;
}

.checkbox-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 24px;
  width: 100%;
}

.checkbox {
  cursor: pointer;
}

.checkbox-label {
  font-size: 14px;
  font-weight: 400;
  margin-left: 5px;
  margin-bottom: 1px;
}

.login-btn {
  width: 100%;
  height: 40px;
  margin-top: 16px;
  border-radius: 8px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  border: 0px;
  color: #ffffff;
  cursor: pointer;
  background-color: #0ea5e9;
}

.error-msg {
  color: #ef4444;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  margin-top: 16px;
  letter-spacing: 0%;
  text-align: center;
}
