.quiz-bg {
  background: linear-gradient(
    91.08deg,
    #dbbcc4 9.68%,
    #f3dfd8 32.98%,
    #d8bfd0 75.7%,
    #b7b1d5 99.11%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100%;
}

.quiz-box {
  background-color: #f8fafc;
  width: 90%;
  max-width: 1146px;
  height: 90%;
  max-height: 798px;
  border-radius: 5px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.ques-count {
  padding: 5px 20px;
  background-color: #d2a7b3;
  border-radius: 4px;
}

.ques-h {
  color: #334155;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

.ques-p {
  color: #f8fafc;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
}

.count-box {
  border-radius: 50%;
  border: 4px solid #0ea5e9;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.count-p {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
}

.middle-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  height: 100%;
  width: 80%;
}

.bottom-section {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.next-btn {
  background-color: #0ea5e9;
  color: white;
  border: 0px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  padding: 5px 20px;
  cursor: pointer;
}

.next-btn-disable {
  color: #7d7d7d;
  background-color: #cbd5e1;
  border: 0px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  padding: 5px 20px;
}

.loader-container {
  margin: auto;
}

.failure-box {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.failure-h1 {
  color: #334155;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0%;
  margin-bottom: 20px;
}

.failure-img {
  width: 80%;
  max-width: 700px;

  margin-bottom: 20px;
}

.failure-p {
  color: #64748b;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;

  margin-bottom: 20px;
}

.failure-btn {
  background-color: #0ea5e9;
  width: 76;
  height: 40;
  top: 779px;
  left: 682px;
  border: 0px;
  border-radius: 4px;
  padding-top: 8px;
  padding-right: 20px;
  padding-bottom: 8px;
  padding-left: 20px;
  gap: 10px;
  cursor: pointer;
  color: white;
}
